
* {
    font-family: 'Poppins', sans-serif;
}

.titulo {
    text-align: center;
}

.mensagem {
    background-color: rgba(196, 196, 9, 0.685);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    display: none;
}

.mensagemDeletar {
    background-color: rgba(165, 42, 42, 0.582);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    display: none;
}

.form-categoria {
    margin-top: 2rem;
}
